name: Lint commit messages
on: [push, pull_request]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Lint commit messages
        uses: wagoid/commitlint-github-action@v1.6.0
